@import "../var";

.ml-modal {
  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 720px;
    background-color: #fff;
    box-shadow: 0 2px 0 0 rgba(0,0,0,.2);
    border-radius: 4px;

  }
  &__title {
    text-align: center;
    height: 50px;
    line-height: 50px;
    color:$titleColor;
    font-weight: bold;
  }
  &__close {
    position: absolute;
    right: -5px;
    top: 0px;
    transform: translateX(100%);
    cursor: pointer;
    svg{
      fill: $whiteColor;
    }
  }
  &__footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-top: 1px solid $dismayColor;
    button {
      margin: 10px;
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51,51,51,.88)
  }
}