.home {
  &__group {
    padding: 10px;
    margin: 20px 20px;
  }
  &__title {

    height: 50px;
    line-height: 50px;
  }
  &__intro {

    background-color: white;
    width: 180px;
    border-radius: 4px;
    padding: 10px;
    li {
      height: 30px;
      line-height: 30px;
    }

  }
}