.ml-input{


  margin:5px;
  position: relative;
  &__label{
    width:100px;
    text-align: right;
    height: 30px;
    line-height: 30px;
  }
  &__input{
    appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    color: #444;
    display: block;
    height: 26px;
    box-sizing: border-box;
    line-height: 1;
    outline: none;
    padding: 0 10px;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    &:focus{
      color: #444;
      border-color: #aac814;
    }
  }
  &__textarea{
    appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    color: #444;
    display: block;
    box-sizing: border-box;
    line-height: 1;
    outline: none;
    padding: 5px 10px;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    &:focus{
      color: #444;
      border-color: #aac814;
    }

  }
  &__error{

    border-radius: 4px;
    background-color: #ff6e64;
    color: #fff;
    font-size: 0.75rem;
    line-height: 1.4;
    padding: 6px 10px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    right:-5px;
    top: 30px;

    word-break: keep-all;
    white-space: nowrap;
    transform:translateX(100%);
  }

}