@import "../../vars";
.book-edit {
  &__modal{
    height: 80%;
  }

  &__form {
    max-width: 500px;

    width: 300px;
    margin: 10px auto;
    height: 100%;


  }


}


.book-chapters{

  position: relative;
  overflow-x: visible;
  label{
    margin-left:5px;


  }

  &__content{
    overflow-x: visible;
    width:100%;
    position: relative;
    background-color: $dismayColor;
    padding:10px 10px;
    border-radius: 4px;
    min-height: 200px;
  }


}