@import "../../vars";

.setting-chapters {


  &__target{
    position: relative;
    vertical-align: middle;
    margin-left:5px;
  }

  &__modal {
    height: 500px;
  }
  &__content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
  }
  &__chapters {

    height: 100%;
    width:300px;
    list-style-type: none;
    li {

    }
    border-right: 1px solid $dismayColor;
  }
  &__chapter{
    //height: 30px;
    //line-height: 30px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    width: 180px;
    vertical-align: middle;

  }


  &__paragraphs {

    width: 380px;

  }
  &__searched{
    height: 330px;
    position: relative;
  }
  &__paragraph{
    padding: 5px;

  }
}