@import "../../../vars.scss";
.book {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &-tabs {
    display: flex;
    flex-direction: row;
    background-color: $dismayColor2;
    height: 50px;
    line-height: 50px;
    align-items: center;
    align-content: center;
    justify-content: center;

    &__tab{
      margin:0px 5px;
    }
  }

  &-list {
    overflow-y: auto;
    display: block;
    //flex-direction: row;
    //align-items: flex-start;
    //flex-wrap: wrap;

    //height:400px;
    //overflow:auto;
    background-color: #5890ff;

    &__item {
      margin: 5px;
      width: 150px;
      text-align: center;
      float:left;
      img {
        margin: auto;
      }
    }
    &__cname {
      height: 30px;
      line-height: 30px;
      overflow-x: hidden;


    }
    &__nomore{
      clear:both;
      zoom: 1;
    }

  }
}