@import "../../../vars.scss";

.read {
  position: relative;
  //padding-right: 50px;
  &__chapters {
    li {
      //height: 30px;
      //line-height: 30px;
      padding: 10px;
    }
  }
  &__content {


  }

  &__paragraphs {

  }

  &-help {
    &__top {
      height: $miniHeight;
      line-height: $miniHeight;
      background-color: $sadColor2;
      text-align: right;
    }
    &__ref{
      padding: 10px;
    }
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $sadColor;

    width: 200px;

  }
  &__title {
    height: 50px;
    line-height: 50px;
    margin: auto;
    text-align: center;
    color: $titleColor
  }
  &__tools {
    position: absolute;
    right: 0px;
    top: 50px;
    bottom:0;
    border-left:1px solid gray;
  }

}