@import "../../../vars";

.read-tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: space-between;
  background-color: $sadColor2;
  $blk: &;
  &__tab {

    margin: 10px 20px;
    cursor: pointer;
    svg {
      width: $svgBigSize;
      height: $svgBigSize;
      fill: $textColor;
    }
    &--active {
      svg {
        fill: $happyColor;
      }
    }
  }

  &--fold {
    flex-direction: column;
    width: $miniHeight;
    #{$blk} {
      &__tab {
        margin:auto;
        height: $miniHeight;
        line-height: $miniHeight;
      }

    }

  }

}