@import "vars.scss";
@import "scss/styles";
.icon {
  &-find {

    //outline: 2px dashed red;
    background-size: cover;
    background-image: url("assets/svg/003-books-stack-of-three.svg");
    background-color: red;
    width: 16px;
    height: 16px;
    display: inline-block;
    color: gray;

  }
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &-main {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    @include autoStrech();

    &__side {
      background-color: $sadColor;
      width: $sideWidth;
    }

    &__content {
      background-color: $dismayColor;
      @include autoStrech();

    }
  }

  &-footer {

  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selected {
  color: red;
}

