@import "vars.scss";

svg{
  width:16px;
  height: 16px;

}


$sideWidth:270px;
.icon{
  &-find{

    //outline: 2px dashed red;
    background-size: cover;
    background-image:  url("assets/svg/003-books-stack-of-three.svg");
    background-color: red;
    width:16px;
    height: 16px;
    display: inline-block;
    color:gray;

  }
}
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;




  &-header {
    background-color: $whiteColor;
    height: 50px;
    line-height: 50px;
    color: white;
    vertical-align: middle;
    padding: 0px 20px 0px 0px;

    &__logo {
      width: $sideWidth;
      height: 100%;
      background: $sadColor;
      margin: 0px 0px 0px 0;
      float: left;
      display: inline-block;
      border-bottom: 2px solid $happyColor;
      svg{
        width:90%;
        height: 95%;
      }
    }
    &__right {
      float: right;
      height: 100%;
    }
    &__signout {

    }

  }
  &-main {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    @include autoStrech();

    &__side {
      background-color: $sadColor;
      width: $sideWidth;
    }

    &__content {
      background-color: $dismayColor;
      @include autoStrech();

    }
  }
  &-menu {
    width: 100%;
    list-style-type: none;
    padding: 10px 20px;
    text-align: left;
    vertical-align: middle;

    &__text,&__icon{
      vertical-align: middle;
      margin-right: 10px;
      color:inherit;

    }
    &__item{
      height: 50px;
      line-height: 50px;
      color:gray;
      a{
        text-decoration: none;
        vertical-align: middle;
        //color:inherit;
        &:visited,&:hover{
          //color:inherit;
        }
      }

      &_selected{
        color:white;
        &:visited,&:hover{
          color:white;
        }
      }
    }

  }
  &-footer {

  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selected {
  color: red;
}

