.app__side {
  width: 30%; }

.app__main {
  width: 70%; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.selected {
  color: red; }

.canvas-reader {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none; }
  .canvas-reader__p {
    background-color: antiquewhite; }
    .canvas-reader__p_el {
      margin: 2px 2px;
      display: inline-block; }
      .canvas-reader__p_el:hover {
        cursor: pointer; }
      .canvas-reader__p_el_selected {
        background-color: aquamarine;
        text-decoration: underline; }
      .canvas-reader__p_el_active {
        background-color: #5890ff; }
