//  modifier m_ element __
@import "vars.scss";



$sideWidth:180px;
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;




  &-header {
    background-color: $whiteColor;
    height: 50px;
    line-height: 50px;
    color: white;
    vertical-align: middle;
    padding: 0px 20px 0px 0px;

    &__logo {
      width: $sideWidth;
      height: 100%;
      background: $sadColor;
      margin: 0px 0px 0px 0;
      float: left;
      display: inline-block;
      border-bottom: 2px solid $happyColor;
    }
    &__right {
      float: right;
      height: 100%;
    }
    &__signout {

    }

  }
  &-main {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    @include autoStrech();

    &__side {
      background-color: $sadColor;
      width: $sideWidth;
    }

    &__content {
      background-color: $dismayColor;
      @include autoStrech();

    }
  }
  &-menu {
    width: 100%;
    list-style-type: none;
    padding: 10px 20px;
    text-align: left;

    &__item{
      height: 50px;
      line-height: 50px;
      color:gray;
      a{
        text-decoration: none;
      }

      &_selected{
        color:white;

      }
    }

  }
  &-footer {

  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selected {
  color: red;
}

