.app {

  &__side{

    width:30%;

  }
  &__main{
    width:70%;
    //background-color: green;
  }



}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.selected{
  color:red;
}



.canvas-reader{
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;

   &__p{
     //display: flex;
     //align-items: flex-start;
     &_el{
       margin-right: 5px;

       display: inline-block;
       &:hover{
         background-color: green;
         color:white;
         cursor: pointer;

       }
       &_selected{
         background-color: aquamarine;
       }



     }
   }




}
