.app {

  &__side{

    width:30%;

  }
  &__main{
    width:70%;
    //background-color: green;
  }



}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.selected{
  color:red;
}



.canvas-reader{
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;

   &__p{
     //display: flex;
     //align-items: flex-start;
     background-color: antiquewhite;
     &_el{
       margin:2px 0px;
       //margin:20px 20px;
       padding: 0px 2px;
       display: inline-block;
       &:hover{
         //background-color: green;
         //color:white;
         cursor: pointer;

       }
       &_selected{
         background-color: aquamarine;

         position: relative;
         //color:lightgray;
         &:before{

           content: "";
           //width:100%;
           //height: 100%;
           position: absolute;
           top:0;
           right:0;
           left:0;
           bottom:0;
           border-bottom:1px dashed red;
           //background-color: red;
           //text-decoration: underline;
           //text-decoration-style: wavy;

         }
       }

       &_active{
         background-color: #5890ff;

       }



     }
   }




}
