/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }
  a:hover, a:visited {
    color: inherit; }

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  .app-header {
    background-color: white;
    height: 50px;
    line-height: 50px;
    color: white;
    vertical-align: middle;
    padding: 0px 20px 0px 0px; }
    .app-header__logo {
      width: 180px;
      height: 100%;
      background: #333;
      margin: 0px 0px 0px 0;
      float: left;
      display: inline-block;
      border-bottom: 2px solid #AAC814; }
    .app-header__right {
      float: right;
      height: 100%; }
  .app-main {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-basis: 0%;
    flex-shrink: 1;
    flex-grow: 1;
    overflow-y: hidden; }
    .app-main__side {
      background-color: #333;
      width: 180px; }
    .app-main__content {
      background-color: #f9f9f9;
      flex-basis: 0%;
      flex-shrink: 1;
      flex-grow: 1;
      overflow-y: hidden; }
  .app-menu {
    width: 100%;
    list-style-type: none;
    padding: 10px 20px;
    text-align: left; }
    .app-menu__item {
      height: 50px;
      line-height: 50px;
      color: gray; }
      .app-menu__item a {
        text-decoration: none; }
      .app-menu__item_selected {
        color: white; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.selected {
  color: red; }
